<h2>Tip Calculator</h2>
<div class="form-group">
  <label for="amount">Amount</label>
  <input type="number"
         #amount
         (keyup)="changeBillAmount(amount.valueAsNumber)"
         class="form-control">
  <div class="btn-group"
       role="group"
       aria-label="Basic example">
    <button type="button"
            [disabled]="tipPercent === .10"
            (click)="changeTipPercent(.10)"
            class="btn btn-secondary">10%</button>
    <button type="button"
            [disabled]="tipPercent === .15"
            (click)="changeTipPercent(.15)"
            class="btn btn-secondary">15%</button>
    <button type="button"
            [disabled]="tipPercent === .20"
            (click)="changeTipPercent(.20)"
            class="btn btn-secondary">20%</button>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Bill Amount: {{ billAmount | currency }}</li>
    <li class="list-group-item">Tip Percentage: {{ tipPercent | percent}}</li>
    <li class="list-group-item">Tip Amount: {{ tipAmount | currency}} </li>
    <li class="list-group-item">Total: {{  total | currency}} </li>
  </ul>

</div>
